/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

/* Color palette */

$gray-base:              #212121;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 80.5%); // #eee

$brand-primary:         #3F51B5;
$brand-success:         #00C853;
$brand-info:            #40C4FF;
$brand-warning:         #FF9800;
$brand-danger:          #F44336;

$navbar-height:  64px;

$navbar-inverse-color:  lighten($gray-light, 15%);
$navbar-inverse-bg:     $brand-primary;
$navbar-inverse-border: darken($navbar-inverse-bg, 7%);

$navbar-inverse-link-color: $gray-lighter;

@import '{reywood:bootstrap3-sass}/bootstrap';

@import '{}/client/app/lists/lists';
@import '{}/client/app/layout/navbar';
@import '{}/client/app/tasks/tasks';
