h1
  a(ui-sref="root.tasks")
    | Lisztz
ul.nav.nav-sidebar
  li(ui-sref-active="active")
    a() Inbox
ul.nav.nav-sidebar
  li(ui-sref-active="active")
    a() Today
  li(ui-sref-active="active")
    a() Next
  li(ui-sref-active="active")
    a() Scheduled
  li(ui-sref-active="active")
    a() Someday
//- ul.nav.nav-sidebar
//-   li
//-     a() Nav item
