.main {
  padding: 20px;

  background-color: $gray-lighter;

  hr{
    margin-bottom: 0;
  }

  .form-group {
    margin-right: 0;
    margin-left: 0;

    .form-control{
      height: 62px;
    }

    .input-group-btn button{
      height: 62px;

      i{
        margin-left: 9px;
      }
    }
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.dropdown-menu a{
  cursor: pointer;
}
